article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 4px solid;
  border-left: 4px solid;
  border-right: 4px solid;
  border-bottom: 4px solid;
  margin: 0% 2% 2% 2%;
}

article:hover {
  box-shadow: 10px 5px #a3b8ff;
}

article header {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
  color: #545149;
  font-size: 0.9em;
  margin: 2% 2% 2% 2%;
}

article header .profileAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article header .userHandle {
  font-weight: 600;
  color: grey;
}

article p {
  border-bottom: 4px solid;
  display: flex;
  font-size: large;
  padding-bottom: 20px;
  text-indent: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 2% 2% 2%;
  font-size: medium;
}

article footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 120px;
  color: #4056A1;
}

.fas:hover {
  color: #e78e08;
  cursor: pointer;
}

.fa-user {
  font-size: xx-large;
}