nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0px;

  background-color: transparent;
  color: #FFFFFF;
}

.logo {
  padding-left: 1.5em;

  font-family: 'Bungee', cursive;
  font-size: xx-large;
}

#composeButton {
  padding-right: 1.5em;
}

#composeButtonArrow {
  color: red;
}

/* compse button arrow up and down animation */
#composeButtonArrow {
  position: relative;
  animation-name: arrowUpAndDown;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes arrowUpAndDown {
  0%   {top:0px;}
  50%  {top:10px;}
  100% {top:0px;}
}