.new-tweet {
  width: 100%;
  margin: 30px 0px 30px 0px;
}

.formLabel {
  font-weight: 600;
}

#textAreaUserInput {
  width: 98%;
  margin: 5px;

  font-size: medium;
  background-color: #f4f1ec;
  outline: none;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: thick;
}

.tweetButton {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  box-shadow: 5px 5px #a3b8ff;
}

#counter {
  font-family: 'Bungee', cursive;
}

.redFont {
  color: red;
}

.alert {
  padding: 20px;
  margin-bottom: 20px;

  background-color: #f44336;
  color: white;
}

