.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 30px 0px 30px 0px;
}

.container label {
  font-weight: 600;
}

#tweet-text {
  font-size: medium;
  background-color: #f4f1ec;
  outline: none;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: thick;
  flex-basis: auto;
  width: 100%;
}

.container button {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
}

.counter {
  font-family: 'Bungee', cursive;
}

.tweetButtonAndCount{
  display: flex;
  justify-content: space-between;
}

.redFont {
  color: red;
}